.page-index {
  background-image: url('../../images/maison-traditionelle-japonaise.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: contrast(0.3);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 90vw;
  }

  .Yokoso {
    max-width: 100%;
    height: auto;
  }

  .logo-index {
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: transform 0.6s ease, opacity 0.6s ease;

    &.clicked {
      transform: scale(2);
      opacity: 0;
    }
  }
}